:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: #4CAF50;
  --animate-speed: 2s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Page Colors */
#page-1 { background: var(--page-1-color) }
#page-2 { background: var(--page-2-color) }
#page-3 { background: var(--page-3-color) }
#page-4 { background: var(--page-4-color) }

.page {
  display: flex;
  flex-direction: column;
  height: 101vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1rem;
}
.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}

/* Page Animation */
#page-1 h1 {
  transform: translateY(-1200px);
  animation: heading var(--animate-speed) forwards ease-in;
}

#page-1 p {
  transform: translateX(-1800px);
  animation: text var(--animate-speed) forwards ease-in 1s;
}

/* Keyframes */
@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes text {
  to {
    transform: translateX(0);
  }
}

.project-image {
  width: 980px; /* Resim genişliği */
  height: 660px; /* Resim yüksekliği */
  /* border: 1px solid #ccc; Resim çerçevesi */
  /* margin: 20px; Resimler arasındaki boşluk */
  /* padding: 10px; Resimlerin içerisindeki boşluk */
  /* box-shadow: 3px 3px 5px #888888; Resim gölgesi (isteğe bağlı) */
}

/* Ekstra küçük ekranlar (telefonlar) için stil ayarları */
@media screen and (max-width: 480px) {
  .page h1 {
    font-size: 0.5rem; /* Başlık yazı boyutunu küçül */
  }
  .page p {
    font-size: 1rem; /* Paragraf yazı boyutunu küçül*/
  }
  .project-image {
    width: 100%; /* Resimleri ekrana sığacak şekilde ayarla*/
    height: auto; /* Resim yüksekliğini otomatik olarak ayarla */
    margin: 10px 0; /* Resimler arasındaki boşluğu azalt*/
  }
  .page {
    padding: 0 1rem; /* Sayfa içeriğinin yan boşluğunu azalt*/
  }
  .btn {
    padding: 0.5rem 1rem; /* Düğme boyutunu küçült */
    font-size: 0.9rem; /* Düğme yazı boyutunu küçült */
  }
}
@media screen and (min-width: 768px) {
  .page h1 {
    font-size: 3rem; /* Başlık yazı boyutunu biraz büyütün */
  }
  .page p {
    font-size: 1.2rem; /* Paragraf yazı boyutunu biraz büyütün */
  }
  .project-image {
    width: 80%; /* Resimleri ekrana sığacak şekilde ayarlayın ve biraz daha büyük yapın */
    height: auto; /* Resim yüksekliğini otomatik olarak ayarlayın */
    margin: 20px 0; /* Resimler arasındaki boşluğu biraz artırın */
  }
  .page {
    padding: 0 2rem; /* Sayfa içeriğinin yan boşluğunu biraz artırın */
  }
  .btn {
    padding: 0.7rem 1.2rem; /* Düğme boyutunu biraz büyütün */
    font-size: 1rem; /* Düğme yazı boyutunu biraz büyütün */
  }
}

