:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: #4CAF50;
  --animate-speed: 2s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Page Colors */
#page-1 { background: var(--page-1-color) }
#page-2 { background: var(--page-2-color) }
#page-3 { background: var(--page-3-color) }
#page-4 { background: var(--page-4-color) }

.page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Değiştirildi: 101vh'den 100vh'ye */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2rem; /* Değiştirildi: 4rem'den 2rem'ye */
}

.page h1 {
  font-size: 2rem; /* Değiştirildi: 3rem'den 2rem'ye */
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1rem; /* Değiştirildi: 1.3rem'den 1rem'ye */
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem; /* Değiştirildi: 1rem'den 0.5rem'e */
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 0.9rem; /* Değiştirildi: 1.1rem'den 0.9rem'a */
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}

/* Page Animation */
#page-1 h1 {
  transform: translateY(-800px); /* Değiştirildi: -1200px'den -800px'e */
  animation: heading var(--animate-speed) forwards ease-in;
}

#page-1 p {
  transform: translateX(-1000px); /* Değiştirildi: -1800px'den -1000px'e */
  animation: text var(--animate-speed) forwards ease-in 1s;
}

/* Keyframes */
@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes text {
  to {
    transform: translateX(0);
  }
}

.project-image {
  max-width: 100%; /* Değiştirildi: Sabit genişlik ve yükseklik yerine yalnızca genişliği ayarla */
  height: auto; /* Resim yüksekliğini otomatik olarak ayarla */
}

/* Ekstra küçük ekranlar (telefonlar) için stil ayarları */
@media screen and (max-width: 480px) {
  .page h1 {
    font-size: 1.5rem; /* Başlık yazı boyutunu küçült */
  }
  .page p {
    font-size: 0.8rem; /* Paragraf yazı boyutunu küçült */
  }
  .btn {
    padding: 0.3rem 0.6rem; /* Düğme boyutunu daha da küçült */
    font-size: 0.7rem; /* Düğme yazı boyutunu küçült */
  }
}
